{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
    {{ episode.name }}
    </h1>
</div>
<div class="row">
    <div class="span8">
        {% if episode.graphic %}
            <p><img src="/static/{{ episode.graphic }}" alt="{{ episode.name }}"></p>
        {% endif %}
        <h3>Overview:</h3>
        <p>{{ episode.overview }}</p>
    </div>
    <div class="span4">
        <div class="well">
            <table class="table" style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td class="table-top" style="vertical-align: middle;"><b>Watched:</b></td>
                        <td class="table-top" style="padding-left: 0;">
                            <form method="POST" action="{{ url_for('checkEpisode', id=episode.id) }}" style="margin: 0;">
                                <input type="hidden" name="token" value="{{ session['token'] }}">
                                <input type="checkbox" name="add" value="1" style="display: none;"{% if not episode in current_user.watched_episodes %}checked="true"{% endif %}>
                                <input alt="" type="image" {% if episode in current_user.watched_episodes %}class="new-checkbox-checked"{% else %}class="new-checkbox-unchecked"{% endif %}>
                            </form>
                          <img src="/static/img/loading.gif" style="display: none;">
                        </td>
                    </tr>
                    <tr>
                        <td><b>Airing:</b></td>
                        <td>{{ episode.air_time|to_date|friendly_time }}</td>
                    </tr><tr>
                        <td><b>Number:</b></td>
                        <td>S{{ pad_zeroes(episode.seas_num) }}E{{ pad_zeroes(episode.epis_num) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}`