{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div style="width: 900px; margin: 0 auto;">
    <div style="padding:30px">
        <h1>
            CheckEpisode.com
        </h1>

        <p>Keep track of your favorite tv series! Check episodes on <a href="http://checkepisode.com/">checkepisode.com</a></p>

    </div>
    <div class="row">
            <div class="span3">
                <h2>Track</h2>
                <p>
                Track your favorite series, watch listings.
                </p>
            </div>
            <div class="span3">
                <h2>Search</h2>
                <p>
                Search link for episodes as a nice shortcut.
                </p>
            </div>
            <div class="span3">
                <h2>Check</h2>
                <p>
                Check and rate watched episodes.
                </p>
            </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
