{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="container">
<!-- Masthead
    ================================================== -->
    <legend>
        Upcoming episodes
    </legend>
    <header class="jumbotron subhead">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Series</th>
                <th>Number</th>
                <th>Episode name</th>
                <th>Remaining</th>
                <th>Air time</th>
            </tr>
        </thead>
        <tbody>
            {% for ep in episodes %}
                <tr>
                    <td><a href="/series/{{ ep.series.id }}"><b>{{ ep.series.name }}</b></a></td>
                    <td>S{{ pad_zeroes(ep.seas_num) }}E{{ pad_zeroes(ep.epis_num) }}</td>
                    <td><a href="/episode/{{ ep.id }}">{{ ep.name }}</a></td>
                    <td>{{ ep.air_time|to_date|friendly_time }}</td>
                    <td>{{ date_string(ep.air_time|to_date) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </header>
<hr>
<!-- Footer
    ================================================== -->
    <footer class="footer">
    <p>CheckEpisode.com © Copyright 2012</p>
    </footer>

</div>
{% endblock %}`