{% macro render_field(field) %}
    <div class="controls" style="width: 210px; margin: 0 auto;">
    {% if field.errors %}
        <p>{{ field.label(class="control-label") }}
        <span class="label label-important">{{ field.errors[0]|e }}</span></p>
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
    {% else %}
        {{ field.label(class="control-label") }}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro render_status(status) %}
    {% if not status %}
        <span style="margin-left: 0;" class="label label-default">Unknown</span>
    {% elif status.caption == "Continuing" %}
        <span style="margin-left: 0;" class="label label-success">{{ status.display }}</span>
    {% elif status.caption == "Ended" %}
        <span style="margin-left: 0;" class="label label-important">{{ status.display }}</span>
    {% else %}
        <span style="margin-left: 0;" class="label label-default">{{ status.display }}</span>
    {% endif %}
{% endmacro %}
