{% macro render_field(field) %}
    <div class="controls" style="width: 210px; margin: 0 auto;">
    {% if field.errors %}
        <p>{{ field.label(class="control-label") }}
        <span class="label label-important">{{ field.errors[0]|e }}</span></p>
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
    {% else %}
        {{ field.label(class="control-label") }}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}