{% extends "base.html" %}

{% block title %}
  New account
{% endblock %}

{% block content %}
<div class="row">
    <div style="width: 270px; margin: 0 auto;">
        <h2>New account</h2>
        <form method="POST" action="{{ url_for('flask_security.register') }}" class="well">
            {{ form.hidden_tag() }}
            <label class="control-label" for="username">Email:</label>
            <div class="controls">
                {{ form.email }}<!--<input type="text" name="username" {% if name %}value="{{ name }}"{% endif %}>-->
            </div>
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                {{ form.password }}<!--<input type="password" name="password">-->
            </div>
            <label class="control-label" for="rpassword">Repeat password:</label>
            <div class="controls">
                {{ form.password_confirm }}<!--<input type="password" name="rpassword">-->
            </div>
            <hr class="soften" style="margin: 8px 0;">
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
