{% extends "base.html" %}
{% set active_page = "watchlist" %}

{% block extrahead %}
{% endblock %}

{% block content %}
{% if shows|length == 0 %}
    <div class="row">
        <div class="span12">
            <h1>You have no remaining episodes to watch!</h1>
        </div>
    </div>
{% else %}
    {% for r in range(0, shows|length, 6) %}
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                {% for s in shows[r:r+6] %}
                <li class="span2">
                    <div class="thumbnail">
                        <a class="thumbnail" href="/series/{{ s[0].id }}">
                        <img alt="" src="/static/series/{{ s[0].poster }}">
                        </a>
                        <div class="caption" style="height: 32px;">
                            <h5>{{ s[1].represent }}
                            <div class="pull-right">
                                <form method="POST" action="{{ url_for('checkEpisode', id=s[1].id ) }}" style="margin: 0;">
                                    <input type="hidden" name="token" value="{{ session['token'] }}">
                                    <input type="checkbox" name="add" value="1" style="display: none;" checked="true">
                                    <input style="margin: 0;" alt="" type="image" class="new-checkbox-unchecked">
                                </form>
                            </div></h5>
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
