{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <legend>
            Watchlist
        </legend>
        <header class="jumbotron subhead">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Series</th>
                    <th>Number</th>
                    <th>Episode name</th>
                    <th>Time</th>
                    <th>Air time</th>
                    <th>Search</th>
                </tr>
            </thead>
            <tbody>
                {% for ep in episodes %}
                    <tr>
                        <td><a href="/series/{{ ep.series.id }}"><b>{{ ep.series.name }}</b></a></td>
                        <td>{{ epNum(ep.seas_num, ep.epis_num) }}</td>
                        <td><a href="/episode/{{ ep.id }}">{{ ep.name }}</a></td>
                        <td>
                        {% if ep.air_time %}
                            <span style="margin-left: 0;" class="label {% if ep.runtime<today %}label-success{% else %}label-warning{% endif %}">{{ ep.runtime|friendly_time }}</span>
                        {% else %}
                            Unknown
                        {% endif %}
                        </td>
                        <td>{{ date_string(ep.runtime) }}</td>
                        <td><a href="http://thepiratebay.se/search/{{ ep.series.name|safe_url }} {{ epNum(ep.seas_num, ep.epis_num)|safe_url }}/0/7/0"><img src="http://thepiratebay.se/favicon.ico"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </header>
    </div>
</div>
{% endblock %}`