{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ series.name }}</h1>
</div>
<div class="row">
    <div class="span8">
        <p><img src="/static/{{ series.banner }}" alt="{{ series.name }}"></p>
        <h3>Overview:</h3>
        <p>{{ series.overview }}</p>
    </div>
    <div class="span4">
        <div class="well">
            <table class="table" style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td class="table-top" style="vertical-align: middle;"><b>Watchlist:</b></td>
                        <td class="table-top" style="padding-left: 0;">
                            <form method="POST" action="{{ url_for('checkSeries', id=series.id) }}" style="margin: 0;">
                                <input type="hidden" name="token" value="{{ session['token'] }}">
                                <input type="checkbox" name="add" value="1" style="display: none;"{% if not series in g.user.favorite_series %}checked="true"{% endif %}>
                                <input alt="" type="image" {% if series in g.user.favorite_series %}class="new-checkbox-checked"{% else %}class="new-checkbox-unchecked"{% endif %}>
                            </form>
                          <img src="/static/img/loading.gif" style="display: none;">
                        </td>
                    </tr><tr>
                        <td><b>Status:</b></td>
                        <td>{% if series.status.caption == "Continuing" %}
                            <span style="margin-left: 0;" class="label label-success">{{ series.status.caption }}</span>
                        {% endif %}</td>
                    </tr><tr>
                        <td><b>Started airing:</b></td>
                        <td>{{ date_string_my(series.first_aired|to_date) }}</td>
                    </tr><tr>
                        <td><b>Language:</b></td>
                        <td>{{ series.language.caption }}</td>
                    </tr><tr>
                        <td><b>Seasons:</b></td>
                        <td>{{ seasonCount }}</td>
                    </tr><tr>
                        <td><b>Episodes:</b></td>
                        <td>{{ series.episodes.count() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr class="soften">
<div class="row">
    <div class="span12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            {% for s in range(seasonCount, 0, -1) %}
                <li {% if season==s %}class="active"{% endif %}><a href="/series/{{ series.id }}?season={{ s }}">Season {{ s }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="tab{{ season }}" class="tab-pane active">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Episode</th>
                            <th>Overview</th>
                            <th>Time</th>
                            <th>Air time</th>
                            <th>Search</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ep in season_list %}
                            <tr>
                                <td>{{ ep.epis_num }}. <a href="/episode/{{ ep.id }}">{{ ep.name }}</a></td><td>
                                {% if ep.overview %}
                                    {{ ep.overview|truncate(200) }}
                                    {% if ep.overview|length > 210 %}
                                        <a href="/episode/{{ ep.id }}">read more</a>
                                    {% endif %}
                                {% else %}
                                    No overview.
                                {% endif %}
                                </td><td>
                                {% if ep.air_time %}
                                    {% if ep.air_time<today %}
                                    <span style="margin-left: 0;" class="label label-success">{{ ep.runtime|friendly_time }}</span>
                                    {% else %}
                                    <span style="margin-left: 0;" class="label label-warning">{{ ep.runtime|friendly_time }}</span>
                                    {% endif %}
                                {% else %}
                                    Unknown
                                {% endif %}
                                </td><td>
                                {% if ep.air_time %}
                                    {{ date_string(ep.runtime) }}
                                {% else %}
                                    Unknown
                                {% endif %}
                                </td><td><a href="http://thepiratebay.se/search/{{ ep.series.name|safe_url }} {{ epNum(ep.seas_num, ep.epis_num)|safe_url }}/0/7/0"><img src="http://thepiratebay.se/favicon.ico"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}`