{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
td.table-top {
    border-top: none;
}
</style>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ series.name }}</h1>
</div>
<div class="row">
    <div class="span8">
        <p><img src="/static/{{ series.banner }}" alt="{{ series.name }}"></p>
        <h3>Overview:</h3>
        <p>{{ series.overview }}</p>
    </div>
    <div class="span4">
        <div class="well">
            <table class="table" style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td class="table-top"><b>Status:</b></td>
                        <td class="table-top">{% if series.status.caption == "Continuing" %}
                            <span style="margin-left: 0;" class="label label-success">Continuing</span>
                        {% endif %}</td>
                    </tr><tr>
                        <td><b>Started airing:</b></td>
                        <td>{{ date_string_my(series.first_aired|to_date) }}</td>
                    </tr><tr>
                        <td><b>Language:</b></td>
                        <td>{{ series.language.caption }}</td>
                    </tr><tr>
                        <td><b>Episodes:</b></td>
                        <td>{{ series.episodes.count() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}`